body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  max-width: 650px;
  margin: auto;
  flex-grow: 1;
}

header {
  background-color: #014aad;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

.listagem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.carro {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carro:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.carro img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.carro h2 {
  color: #014aad;
  margin: 0 0 8px 0;
  font-size: 1.4em;
}

.carro p {
  color: #000;
  font-size: 0.9em;
  line-height: 1.1;
  margin: 0;
}
